.dtg.dtg-Player .part-resources {
   position: relative;
   min-width: 400px;
   padding: 8px 12px 8px 8px;

   .resources-list {
     display: grid;
     justify-items: start;
   }

   .res-line {
     display: grid;
     grid-template-columns: 40px 24px 30px 12px 30px;
     gap: 8px;
     align-items: center;
     border: 0;
     border-bottom: 1px solid var(--color-border, #8882);
   }

  .eva-thresholds {
    display: flex;
    gap: 20px;
  }

  .evasion {
    margin-top: 5px;
    margin-bottom: 5px;

    .field-input {
      width: 2.5em;
    }
  }
 }

 @media (max-width: 720px) {
   .part-resources {
     .res-evasion-card {
       position: static;
       width: auto;
       margin-bottom: 8px;
     }
     .resources-list { padding-right: 0; }
   }
 }

