.dtg.dtg-Player .part-roleplay{
  flex:none;
  width: 100%;
  min-height: 400px;
  background: var(--color-bg-panel, transparent);

  .panel-header {
    display: flex;

    align-items: center;
    gap: 8px;
    font-weight: 600;
    margin-bottom: 6px;
    justify-content: flex-start;

    width: 100%;

    .panel-title { white-space: nowrap; }
    .panel-line {
      flex: 1 1 auto;
      height: 1px;
      background: var(--color-border, #8882);
    }
  }

  .panel-body {
    height: 100%;
    margin-bottom: 10px;
  }
}
