.dtg.dtg-Adversary .part-combat-info {
  display: grid;
  gap: 0.5em;

  .diff-thresholds {
    display: flex;
    gap: 2em;

    .difficulty {
      display: flex;
    }

    .modifier {
      display: flex;
    }

  }

  .base-attack {
    display: grid;
    grid-template-columns: max-content auto max-content max-content max-content;
    gap: 1em;

    .field {
      display: flex;
    }

    .buttons {
      display: flex;
    }
  }

  .tactics {
    display: flex;
  }

  .experience {
    display: flex;

    .btn-action {
      width: 26px;
    }
  }
}