.dtg.dtg-Adversary .part-resources {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.5em;

  .field-column{
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;

    .field-input {
      width: 3em;
      text-align: center;
    }
  }

  .resource-column{
    display: flex;
    flex-direction: column;
  }
}