.dtg {
  .btn-settings {
    width: 32px;
    height: 32px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    i { font-size: 1rem; }
    &:hover {
      background: var(--button-hover-background-color, transparent);
    }
  }
}