.uose {
  form {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    min-height: 0;
    overflow: auto;
  }

  .btn-action {
    border-radius: 4px;
    background: transparent;

    &[aria-pressed="true"] {
      background: rgba(94, 150, 94, 0.20);
      border-color: rgba(94, 150, 94, 0.95);
      box-shadow:
              0 0 0 1px rgba(94, 150, 94, 0.95) inset,
              0 0 8px 1px rgba(94, 150, 94, 0.40);
      font-weight: 700;

      &:hover {
        background: rgba(94, 150, 94, 0.95);
      }
    }

    &:hover {
      background: var(--button-hover-background-color, transparent);
    }

    &.danger {
      border-color: #c44a;

      &:hover {
        background: #c44a;
      }
    }
  }

  .field-label {
    opacity: 0.8
  }

  .field-input {
    background-color: #0000;
    border: 0;
    border-bottom: 1px solid var(--color-border, #888888);

    &:hover{
      background-color: rgb(from var(--input-background-color, #0000) r g b / 0.3);
    }

    &:focus{
      background-color: var(--input-background-color, #0000);
    }
  }

  .field-editor {
    border: solid 1px var(--color-border, #8882);
    border-radius: 6px;
    min-height: 400px;
    width: 100%;

    .editor-container {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

}
