//noinspection LessResolvedByNameOnly
.uose {
  button {
    border-radius: 8px;
  }

  .uose-util(btn-link; {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  });

  .uose-util(btn-settings; {
    width: 32px;
    height: 32px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    i { font-size: 1rem; }

    &:hover {
      background: var(--button-hover-background-color, transparent);
    }
  });

  .uose-util(full-width; { width: 100%; });
  .uose-util(preserve-width; { flex: none; });
  .uose-util(center-items; { align-items: center; });

  .uose-util(small-input; {
    width: 3em;
    text-align: center;
  });

  .uose-util(visually-hidden; {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  });

  .uose-util(isShiny; {
    box-shadow:
            0 0 0 1px #5ed6ff inset,
            0 0 10px 2px rgba(94,214,255,.75),
            0 0 24px 8px rgba(94,214,255,.45);
    border-radius: 10px;
  });

  .uose-util(shine; {
    box-shadow: 0 0 0 1px var(--borderColor, var(--button-border-color)) inset,
    0 0 10px 2px rgb(from var(--borderColor, var(--button-border-color)) r g b / 0.45);
  });

  .uose-util(small-icon; {
    height: 24px;
    width: 24px;
  });

  .uose-util(medium-smaller-icon; {
    height: 36px;
    width: 36px;
  });

  .uose-util(medium-small-icon; {
    height: 48px;
    width: 48px;
  });

  .uose-util(medium-icon; {
    height: 64px;
    width: 64px;
  });

  .uose-util(large-icon; {
    height: 128px;
    width: 128px;
  });
}